.dashboard-sider {
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
}

.dashboard-layout {
  height: 100vh;
}

.dashboard-layout .dashboard-layout-background {
  background: #fff;
}

.dashboard-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
